{% extends 'base-backend.html.twig' %}

{% block title %}Pages{% endblock %}

{% block body %}
<div class="d-flex justify-content-between align-items-center">
        <h1>Pages</h1>
        <a href="{{ path('app_admin_book_page_new') }}" class="btn btn-dark">Ajouter une page</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Page</th>
                <th>Modifié le</th>
                <th class="text-end">Voir/Éditer</th>
            </tr>
        </thead>
        <tbody>
        {% for book_page in book_pages %}
            <tr>
                <td>{{ book_page.id }}</td>
                <td>
                    <a href="{{ asset('images/book_page/' ~ book_page.imageName) }}" data-lightbox="{{ book_page.imageName }}">
                        <img src="{{asset('images/book_page/' ~ book_page.imageName)}}" class="img-list" alt="{{ book_page.imageName }}">
                    </a>
                </td>
                    
                <td>{{ book_page.updatedAt ? book_page.updatedAt|date('d/m/Y H:i:s') : '' }}</td>
                <td class="text-end">
                    <a href="{{ path('app_admin_book_page_show', {'id': book_page.id}) }}" class="btn btn-dark">
                        <i class="align-middle" data-feather="eye"></i>
                    </a>
                    <a href="{{ path('app_admin_book_page_edit', {'id': book_page.id}) }}" class="btn btn-success">
                        <i class="align-middle" data-feather="edit-3"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
